                                       /* carousel */
#banner{
    padding-top: 0px;
}
                                            
.carousel-item img{
     height: 500px;
}
                                            
.carousel-indicators > li{
    height: 10px !important;
    border-radius: 100% !important;
     width: 10px !important;
}