 
  body{
    background-color: black;
  }
::placeholder{
  color: #f3f3f3;
}
  .bg-img {
    background-image: url(../img/userinfo.jpg);
    min-height: 630px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .container {
    position: absolute;
    right: 0px;
    margin: 10px;
    max-width: 465px;
    max-height: 575px;
    padding: 16px;
    border-radius: 40px;
    background-color: #ffffff4f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
    input[type=text], input[type=tel] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: rgba(221, 221, 221, 0.308);
    font-family: sans-serif;
    font-size: small;
    border-radius: inherit;
    color: white;
  }
  
  input[type=text]:focus, input[type=tel]:focus {
    background-color: rgba(221, 221, 221, 0.308);
    outline: none;
  }
  
  .btn {
    background: #e14eca;
    background-image: -webkit-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-image: -o-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-image: -moz-linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    font-family: sans-serif;
    font-size: medium;
    border-radius: 23px;
    text-align: center;
    object-position: center;

  }
  .btr{
    align-content: center;
  }
  .btn:hover {
    opacity: 1;
  }

  h1{
    color: #e4e4e4;
    font-weight: 100; 
  }

  label{
    color: #e4e4e4;
    font-size: small;
    font-family: sans-serif;
  }