<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/login.css')}}">
        <style>
            .login-wrap{
                margin-top: 0%;
                min-height: 600px;
            }
        </style>
        <script type="text/javascript">// <![CDATA[
            function loading(){
                $("#loading").show();
                $("#content").hide();       
            }
        // ]]></script>
    </head>
    <body>
    <div id="content">
        <div class="login-wrap">
            <a href="{{url_for('dashboard')}}" class="btn btn-outline-dark text-light">Dashboard</a>
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">BUY</label>
                <input id="tab-2" type="radio"  name="tab" class="for-pwd"><label for="tab-2" class="tab"></label>
                <div class="login-form">
                    <form action="" method="post" >
                        {{ buy.hidden_tag() }}
                    <div class="sign-in-htm">
                        <div class="group">
                            {% with messages = get_flashed_messages() %}
					            {% if messages %}
						            {% for message in messages %}
						                <div class="alert alert-danger  alerty-dismissal fade show" role="alert">
							            <button type="button" class="close" data-dismiss="alert">&times;</button>
							                {{ message }}
						                </div> 
						            {% endfor %}
					            {% endif %}
				            {% endwith %}
                            <label for="user" class="label">Share Name</label>
                            <input id="user" type="text" class="input" placeholder="" name="name" value="{{s_name}}" disabled>
                        </div>
                        <div class="group">
                            <label for="vol" class="label">Price/Unit</label>
                            <input id="vol" type="number" class="input" placeholder="Price" name="price" value="{{s_price}}" disabled>
                        </div>
                        <div class="group">
                            <label for="vol" class="label">Share Volume</label>
                            <input id="vol" type="number" class="input" placeholder="Volume" name="volume" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password" placeholder="password" name="password" required>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="BUY" onclick="loading();">
                        </div>
                        <div class="hr"></div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <div id="loading">
            <div id="circle">
                <div class="loader">
                 <div class="loader">
                  <div class="loader">
                    <div class="loader">
                
                    </div>
                  </div>
                </div>
               </div>
              </div>        
            </div>

    </body>
</html>


