{% extends "base2.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
  <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/dashboard.css')}}">
  <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/sell.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
        <h1><b>${{ wallet.balance }} </b></h1>
        <h3><b>WALLET</b></h3>
      </div>
    </div>
    </div>
     <div class="column">
      <div class="card">
        <div class="container">
        <h1><b>$5000</b></h1>
        <h3><b>TOTAL MONEY</b></h3>
      </div>
     </div>
    </div>
     <div class="column">
      <div class="card">
        <div class="container">
        <h1><b>500</b></h1>
        <h3><b>TOTAL SHARES</b></h3>
      </div>
    </div>
  </div>
</div>



<div class="search-box">
  <form action="" method="post" >
    {{ searches.hidden_tag() }}
  <div class="shares">
    <div class="example">
      <input type="text" name="search" placeholder="Search..">
      <button type="submit"><i class="fa fa-search"></i></button>
      <!-- {{ searches.submit( _class="fa fa-search")}} -->
  </form>
</div>
<div class="data">
  <label class=label1 for="fname">Share Name</label>
  <input class="items" type="text" name="Share Name" placeholder="{{ results[0]}}" disabled>
</div>
<div class="data">
  <label class=label2 for="fname">Share Price</label>
  <input class="items" type="text" name="Share Name" placeholder="{{ results[1]}}" disabled>
</div>
<div class="data">
  <label class=label3 for="fname">Share Volume</label>
  <input class="items" type="text" name="Share Name" placeholder="{{ results[2]}}" disabled>
</div>
    </div>
  </div>
  <div>
<button id="myBtn" class="btn btn-fill btn-primary">BUY</button> </div>


  <div id="myModal" class="modal" aria-labelledby="FormModal" aria-hidden="true">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }} 

        
      <div class="example">
      <label class="label">Share Name</label>
      {{form.name(class_='items', placeholder="Stock Name")}}
      <label class="label">Volume</label>
      {{ form.volume(class_='items', placeholder="Puchase Volume") }}
      <label class="label">Password</label>
      {{ form.pwd(class_='items',placeholder="Enter Password",type='password')}}
      {{ form.submit }}
    </form>
    </div>
    </div>
  </div>



  <div class=row1>
  <table class="table">
    <tr class="tab_head">
        {% for header in headings %}
        <th class="tab_b">{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in data %}
    <tr>
        {% for cell in row %}
        <td class="tab_body">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
 </table>
  </div>

  <script src="{{url_for('static', filename='js/sell.js')}}"></script>

{% endblock %}