{% extends "base2.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
	<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/dashboard.css')}}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
        <h1><b>${{ wallet.balance }} </b></h1>
        <h3><b>WALLET</b></h3>
      </div>
     </div>
    </div>
     <div class="column">
      <div class="card">
        <div class="container">
        <h1><b>$5000</b></h1>
        <h3><b>TOTAL MONEY</b></h3>
      </div>
     </div>
    </div>
     <div class="column">
      <div class="card">
        <div class="container">
        <h1><b>500</b></h1>
        <h3><b>TOTAL SHARES</b></h3>
      </div>
     </div>
    </div>
  </div>
  <div class="search-box">
    <div class="shares">
      <div class="example">
        <input type="text" name="search" placeholder="Search..">
    </div>
      <div class="data">
        <label class=label1 for="fname">Share Name</label>
        <input class="items" type="text" name="Share Name" placeholder="hello" disabled>
      </div>
      <div class="data">
        <label class=label2 for="fname">Share Price</label>
        <input class="items" type="text" name="Share Name" placeholder="25" disabled>
      </div>
      <div class="data">
        <label class=label3 for="fname">Quantity</label>
        <input class="items" type="text" name="Share Name" placeholder="hello" disabled>
      </div>
    </div>
  </div>
{% endblock %}