{% extends "base2.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}
  <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/dashboard.css')}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript">// <![CDATA[
    function loading(){
      $("#loading").show();
      $("#content").hide();       
    }
  // ]]></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
        <h1><b>${{ wallet.balance }} </b></h1>
        <h3><b>WALLET</b></h3>
      </div>
    </div>
    </div>
     <div class="column">
      <div class="card">
        <div class="container">
        <h1><b>${{ assets }}</b></h1>
        <h3><b>ASSETS</b></h3>
      </div>
     </div>
    </div>
     <div class="column">
      <div class="card">
        <div class="container">
        <h1><b>{{shares}}</b></h1>
        <h3><b>TOTAL SHARES</b></h3>
      </div>
    </div>
  </div>
</div>


<div class="search-box">
 <form name="Form" action="" method="post" >
  {{ searches.hidden_tag() }}
  <div class="shares">
    <div class="example">
      <input type="text" name="search" placeholder="Search..">
      <button type="submit" onclick="loading()"><i class="fa fa-search"></i></button> 
    </div>
    <div class="data">
      <label class=label1 for="fname">Share Name</label>
      <input class="items" type="text" name="Share Name" placeholder="{{ results[0]}}" disabled>
    </div>
    <div class="data">
      <label class=label2 for="fname">Share Price</label>
      <input class="items" type="text" name="Share Price" placeholder="{{ results[1]}}" disabled>
    </div>
    <div class="data">
      <label class=label3 for="fname">Share Volume</label>
      <input class="items" type="text" name="Share Volume" placeholder="{{ results[2]}}" disabled>
    </div>
  </form>
  </div>
  </form>
</div>


<div>
<a href="{{url_for('buy', s_name=results[0])}}" id="myBtn" class="btn btn-fill btn-primary">BUY</a>
</div>


  <div class=row1>
  <table class="table">
    <tr class="tab_head">
        {% for header in headings %}
        <th class="tab_b">{{ header }}</th>
        {% endfor %}
    </tr>
    {% for row in data %}
    <tr>
        {% for cell in row %}
        <td class="tab_body">{{ cell }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
 </table>
  </div>


  <div id="loading">
    <div id="circle">
      <div class="loader">
       <div class="loader">
        <div class="loader">
        <div class="loader">
      
        </div>
        </div>
      </div>
       </div>
      </div>        
    </div>

{% endblock %}