<!DOCTYPE HTML>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/loading.css')}}">
    </head>

    <body>
        <div id="circle">
            <div class="loader">
              <div class="loader">
                  <div class="loader">
                     <div class="loader">
          
                     </div>
                  </div>
              </div>
            </div>
          </div> 
    </body>
</html>
