{% extends "base1.html" %}

{% block title %} Login {% endblock %}

{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/login.css')}}">
{% endblock %}

{% block content %}
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio"  name="tab" class="for-pwd"><label for="tab-2" class="tab">Forgot Password</label>
		<div class="login-form">
			<form action="" method="post" novalidate>
				{{ form.hidden_tag() }}
			<div class="sign-in-htm">
				<div class="group">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
						<div class="alert alert-danger  alerty-dismissal fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							{{ message }}
						</div> 
						{% endfor %}
					{% endif %}
				{% endwith %}
					<label for="user" class="label">Username</label>
					<input id="user" type="text" class="input" placeholder="username" name="username">
					{% for error in form.username.errors %}
					<span style="color: rgb(182, 39, 39);">{{ error }}</span>
					{% endfor %}
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" placeholder="password" name="password">
					{% for error in form.password.errors %}
					<span style="color: rgb(182, 39, 39);">{{ error }}</span>
					{% endfor %}
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In" >
				</div>
				<div class="hr"></div>
			</div>
			</form>
			{% if error %}
			<div class="alert alert-danger  alerty-dismissal fade show" role="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error }}
			</div> 
			{% endif %}
			<div class="for-pwd-htm">
				<div class="group">
					<form action="" method="post">
						{{ formpwd.hidden_tag() }}
						<label for="user" class="label">Enter email</label>
						<input id="user" type="text" class="input" placeholder="email" name="email">
						{% for error in formpwd.email.errors %}
						<span style="color: rgb(182, 39, 39);">{{ error }}</span>
						{% endfor %}
						<div class="group">
							<input type="submit" class="button" value="Request New Password" >
						</div>
					</form>
					{% if error %}
					<div class="alert alert-danger  alerty-dismissal fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ error }}
					</div> 
					{% endif %}
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}