{% extends "base2.html" %}

{% block title %}Portfolio{% endblock %}

{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/portfolio.css')}}">
{% endblock %}

{% block content %}
<div class=row1>
    <table class="table">
      <tr class="tab_head">
          {% for header in headings %}
          <th class="tab_b">{{ header }}</th>
          {% endfor %}
      </tr>
      {% for row in data %}
      <tr>
          {% for cell in row %}
          <td class="tab_body">{{ cell }}</td>
          {% endfor %}
      </tr>
      {% endfor %}
   </table>
</div>

<a href="{{url_for('transactions')}}" id="myBtn" class="btn btn-fill btn-primary">SELL</a>
{% endblock %}