{% extends "base1.html" %}

{% block title %} Register {% endblock %}

{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/register.css')}}">
{% endblock %}

{% block content %}
<div id="login-box">
    <div class="left">
      <h1>Register</h1>
      {% if error %}
      <div class="alert alert-danger  alerty-dismissal fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error }}
      </div> 
      {% endif %}
      <form action="" method="post" >
      {{ form.hidden_tag() }}
      <input type="text" name="username" placeholder="Username" />
      {% for error in form.username.errors %}
      <span style="color: rgb(182, 39, 39);">{{ error }}</span>
      {% endfor %}
      <input type="text" name="email" placeholder="E-mail" />
      {% for error in form.email.errors %}
      <span style="color: rgb(182, 39, 39);">{{ error }}</span>
      {% endfor %}
      <input type="password" name="password" placeholder="Password" />
      {% for error in form.password.errors %}
      <span style="color: rgb(182, 39, 39);">{{ error }}</span>
      {% endfor %}
      <input type="password" name="password2" placeholder="Retype password" />
      {% for error in form.password2.errors %}
      <span style="color: rgb(182, 39, 39);">{{ error }}</span>
      {% endfor %}
      {{ form.submit() }}
      </form>
    </div>

    <div class="right">
      <button class="social-signin google" onClick="parent.location='/Googlelogin'" href ="/login">Log in with Google+</button>
    </div>
    <div class="or">OR</div>
  </div>
{% endblock %}
