{% extends "base1.html" %}

{% block title %}Reset Password{% endblock %}

{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/login.css')}}">
{% endblock %}

{% block content %}
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab">Forgot Password</label>
		<div class="login-form">
			<form action="" method="post" novalidate>
				{{ form.hidden_tag() }}
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" placeholder="password" name="password">
					{% for error in form.password.errors %}
					<span style="color: rgb(182, 39, 39);">{{ error }}</span>
					{% endfor %}
				</div>
				<div class="group">
					<label for="pass" class="label">Re-Password</label>
					<input id="pass" type="password" class="input" data-type="password" placeholder="Re-enter password" name="password2">
					{% for error in form.password.errors %}
					<span style="color: rgb(182, 39, 39);">{{ error }}</span>
					{% endfor %}
				</div>
				<div class="group">
					<input type="submit" class="button" value="Reset Password">
				</div>
			</form>
            {% if error %}
			<div class="alert alert-danger  alerty-dismissal fade show" role="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error }}
			</div> 
			{% endif %}
		</div>
	</div>
</div>
<!--  -->
<!--  -->
<!--  -->
    <!-- <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: rgb(182, 39, 39);">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: rgb(182, 39, 39);">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form> -->
{% endblock %}