{% extends "base1.html" %}

{% block title %} Login {% endblock %}


{% block head %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/login.css')}}">
{% endblock %}


{% block content %}
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-2" type="radio" href="{{ url_for('reset_password_request') }}" name="tab" class="for-pwd"><label for="tab-2" class="tab">Forgot Password</label>
		<div class="login-form">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    <label for="user" class="label">Enter email</label>
                    <p>
                        <input id="user" type="text" class="input" placeholder="email" name="email">
                    </p>
                    {% for error in form.email.errors %}
                    <span style="color: rgb(182, 39, 39);">{{ error }}</span>
                    {% endfor %}
                </p>
                <div class="group">
					<input type="submit" class="button" value="Request New Password" >
				</div>
            </form>
            {% if error %}
			<div class="alert alert-danger  alerty-dismissal fade show" role="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error }}
			</div> 
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}