<!DOCTYPE html>
<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static',filename='css/login.css')}}">
    </head>
    <body>
        <div class="login-wrap">
            <a href="{{url_for('dashboard')}}" class="btn btn-fill btn-primary">Dashboard</a>
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">BUY</label>
                <input id="tab-2" type="radio"  name="tab" class="for-pwd"><label for="tab-2" class="tab">SELL</label>
                <div class="login-form">
                    <form action="" method="post" novalidate>
                        {{ buy.hidden_tag() }}
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user" class="label">Share Name</label>
                            <input id="user" type="text" class="input" placeholder="Name" name="name" >
                        </div>
                        <div class="group">
                            <label for="vol" class="label">Share Volume</label>
                            <input id="vol" type="number" class="input" placeholder="Volume" name="volume">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password" placeholder="password" name="password">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="BUY">
                        </div>
                        <div class="hr"></div>
                    </div>
                    </form>
                    
                    <div class="for-pwd-htm">
                                <div class="group">
                                <form action="" method="post">
                                    {{ sell.hidden_tag() }}
                                    <label for="user" class="label">Share Name</label>
                                    <input id="user" type="text" class="input" placeholder="Name" name="name">
                                </div>
                            <div class="group">
                                <label for="vol" class="label">Share Volume</label>
                                <input id="vol" type="number" class="input" placeholder="Volume" name="volume">
                            </div>
                            <div class="group">
                                <label for="pass" class="label">Password</label>
                                <input id="pass" type="password" class="input" data-type="password" placeholder="password" name="password">
                            </div>
                            <div class="group">
                                <input type="submit" class="button" value="SELL">
                            </div>
                            </form>
                            <div class="hr"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>