<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type= "text/css" href="{{url_for('static',filename='css/user_info.css')}}">
    </head>
    <body>
        <div class="bg-img">
            <form action="" method="post" class="container" novalidate>
              {{ form.hidden_tag() }}
              <h1> Your Information</h1>
          
              <label for="Name"><b>Name</b></label>
              <input id="Name" type="text" class="input" placeholder="Enter Name" name="fname">
              <!-- <input type="text" placeholder="Enter Name" name="name" required> -->
          
              <label for="Phone"><b>Phone</b></label>
              <input id="Phone" type="tel" class="input" placeholder="Enter Phone Number" name="phone" maxlength="11" pattern="\d*" required>
          
              <label for="ACC Number"><b>Account</b></label>
              <input id="acc_num" type="tel" class="input" placeholder="Enter Account Number" name="acc_num" maxlength="14" pattern="\d*" required>

              <label for="CNIC"><b>CNIC</b></label>
              <input id="cnic" type="tel" class="input" placeholder="Enter CNIC Number" name="cnic" maxlength="13" pattern="\d*" required>

              <label for="ADDR"><b>Address</b></label>
              <input id="addr1" type="text" class="input" placeholder="Enter Address" name="addr" required>

              <button type="submit" class="btn">Submit</button>
            </form>
          </div>
    </body>
</html>